{% extends 'base.html' %}
{% load static %}

{% block title %}
Vehicles
{% endblock %}

{% block content %}

    <div id="film">
        <h1> {{ vehicle.name }} </h1>
        <table style="border-collapse: separate; border-spacing: 10px;">
            <tr>
                <th> Model </th>
                <th>{{ vehicle.model }}</th>
            </tr>
            <tr>
                <th> Manufacturer </th>
                <th>{{ vehicle.manufacturer }}</th>
            </tr>
            <tr>
                <th> Cost in credits </th>
                <th>{{ vehicle.cost_in_credits }}</th>
            </tr>
            <tr>
                <th> Length </th>
                <th>{{ vehicle.length }}</th>
            </tr>
            <tr>
                <th> Max atmosphering speed </th>
                <th>{{ vehicle.max_atmosphering_speed }}</th>
            </tr>
            <tr>
                <th> Crew </th>
                <th>{{ vehicle.crew }}</th>
            </tr>
            <tr>
                <th> Passengers </th>
                <th>{{ vehicle.passengers }}</th>
            </tr>
            <tr>
                <th> Cargo capacity </th>
                <th>{{ vehicle.cargo_capacity }}</th>
            </tr>
            <tr>
                <th> Consumables </th>
                <th>{{ vehicle.consumables }}</th>
            </tr>
            {% comment %} vehicle {% endcomment %}
            <tr>
                <th> Vehicle class </th>
                <th>{{ vehicle.vehicle_class }}</th>
            </tr>
            <th> Pilots </th>
                <th>
                    {% for p in vehicle.pilots.all %}
                        <a href="/characters/{{ p.id }}" style="color: lightgreen">{{ p.name }}</a>
                    {% empty %}
                        no pilots
                    {% endfor %}
                </th>
            </tr>
              
        </table>
    </div>

{% endblock %}