{% extends 'base.html' %}
{% load static %}

{% block title %}
Starships
{% endblock %}

{% block content %}

    <div id="film">
        <h1> {{ starship.name }} </h1>
        <table style="border-collapse: separate; border-spacing: 10px;">
            <tr>
                <th> Model </th>
                <th>{{ starship.model }}</th>
            </tr>
            <tr>
                <th> Manufacturer </th>
                <th>{{ starship.manufacturer }}</th>
            </tr>
            <tr>
                <th> Cost in credits </th>
                <th>{{ starship.cost_in_credits }}</th>
            </tr>
            <tr>
                <th> Length </th>
                <th>{{ starship.length }}</th>
            </tr>
            <tr>
                <th> Max atmosphering speed </th>
                <th>{{ starship.max_atmosphering_speed }}</th>
            </tr>
            <tr>
                <th> Crew </th>
                <th>{{ starship.crew }}</th>
            </tr>
            <tr>
                <th> Passengers </th>
                <th>{{ starship.passengers }}</th>
            </tr>
            <tr>
                <th> Cargo capacity </th>
                <th>{{ starship.cargo_capacity }}</th>
            </tr>
            <tr>
                <th> Consumables </th>
                <th>{{ starship.consumables }}</th>
            </tr>
            {% comment %} Starship {% endcomment %}
            <tr>
                <th> Hyperdrive rating </th>
                <th>{{ starship.hyperdrive_rating }}</th>
            </tr>
            <tr>
                <th> MGLT </th>
                <th>{{ starship.MGLT }}</th>
            </tr>
            <tr>
                <th> Starship class </th>
                <th>{{ starship.starship_class }}</th>
            </tr>
            <th> Pilots </th>
                <th>
                    {% for p in starship.pilots.all %}
                        <a href="/characters/{{ p.id }}" style="color: lightgreen">
                            {{ p.name }}
                        </a>
                    {% empty %}
                        no pilots
                    {% endfor %}
                    
                </th>
            </tr>
              
        </table>
    </div>

{% endblock %}