{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ film.title }}
{% endblock %}

{% block content %}

<div id="film">
    <h1> {{ film.title }} </h1>
    <h2> {{ film.release_date }} </h2>
    <p> &nbsp&nbsp&nbsp&nbsp {{ film.opening_crawl}} </p>

    <div class="accordion" id="myaccordion">
        <div class="card">
            <div class="card-header" style="background-color: rgba(0,0,0,0.5);" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" style="color: white">
                        Characters 
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myaccordion">
                <div class="card-body"  style="background-color: rgba(0,0,0,0.75);">
                    {% for charac in film.characters.all %}
                        <a href="{% url 'character' id=charac.id %}" style="color: yellow">
                            {{ charac.name }}
                        </a>
                    {% empty %}
                        There are no characters
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background-color: rgba(0,0,0,0.5);" id="headingTwo"> 
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: white">
                        Planets
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myaccordion">
                <div class="card-body" style="background-color: rgba(0,0,0,0.75);">
                    {% for planet in film.planets.all %}
                    <a href="{% url 'planet' id=planet.id %}" style="color: yellow">
                        {{ planet.name }}
                    </a>
                    {% empty %}
                        There are no planets
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background-color: rgba(0,0,0,0.5);" id="headingThree ">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: white">
                        Species
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myaccordion">
                <div class="card-body" style="background-color: rgba(0,0,0,0.75);">
                    {% for specie in film.species.all %}
                    <a href="{% url 'specie' id=specie.id %}" style="color: yellow">
                        {{ specie.name }}
                    </a>
                    {% empty %}
                        There are no species
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background-color: rgba(0,0,0,0.5);" id="headingFour" >
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color: white">
                        Starships
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myaccordion">
                <div class="card-body" style="background-color: rgba(0,0,0,0.75);">
                    {% for stship in film.starships.all %}
                    <a href="{% url 'starship' id=stship.id %}" style="color: yellow">
                        {{ stship.name }}
                    </a>
                    {% empty %}
                        There are no starships
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background-color: rgba(0,0,0,0.5);" id="headingFive" >
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="color: white">
                        Vehicles
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myaccordion">
                <div class="card-body" style="background-color: rgba(0,0,0,0.75);">
                    {% for vehicle in film.vehicles.all %}
                    <a href="{% url 'vehicle' id=vehicle.id %}" style="color: yellow">
                        {{ vehicle.name }}
                    </a>
                    {% empty %}
                        There are no vehicles
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}