{% extends 'base.html' %}
{% load static %}


{% block title %}
Characters
{% endblock %}

{% block content %}

    <div id="film">
        <h1> {{ charac.name }} </h1>
        <table style="border-collapse: separate; border-spacing: 10px;">
            <tr>
                <th> Height </th>
                <th>{{ charac.height }}</th>
            </tr>
            <tr>
                <th> Mass </th>
                <th>{{ charac.mass }}</th>
            </tr>
            <tr>
                <th> Hair color </th>
                <th>{{ charac.hair_color }}</th>
            </tr>
            <tr>
                <th> Skin color </th>
                <th>{{ charac.skin_color }}</th>
            </tr>
            <tr>
                <th> Eye color </th>
                <th>{{ charac.eye_color }}</th>
            </tr>
            <tr>
                <th> Birth year </th>
                <th>{{ charac.birth_year }}</th>
            </tr>
            <tr>
                <th> Gender </th>
                <th>{{ charac.gender }}</th>
            </tr>
            <tr>
                <th> Homeworld </th>
                <th>
                    <a href="/planets/{{ charac.homeworld.id }}" style="color: lightgreen">
                        {{ charac.homeworld.name }}
                    </a>
                </th>
            </tr>
        </table>
    </div>

{% endblock %}